body {
	padding: 0;
	margin: 0;
}
.song_list_wrap {

}
.list_head {
	position: relative;
}
.list_head::after {
	content: '';
    background-color: rgba(168, 151, 151, 0.1);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -2;
}
.list_head .bg {
	width: 100vw;
	height: 100%;
	background: transparent url(../picture/001.webp) no-repeat center;
	background-size: cover;
	position: absolute;
	z-index: -1;
	opacity: 0.3;
    -webkit-filter: blur(10px); /* Chrome, Opera */
       -moz-filter: blur(10px);
        -ms-filter: blur(10px);    
            filter: blur(10px);  
}
.head_wrap {
	display: flex;
	border: 1px solid #ccc;
	padding: 8vw 4vw;
}

.listCover {
	width: 34vw;
}
.listCover img{
	width: 100%;
}

.list_title {
	padding-left: 4vw;
}
.list_title h3{
	margin: 0;	
	font-size: 16px;
	line-height: 20px;
}


.list_profile {
	padding: 4vw;
}

.list_profile .introduction{
	height: 20vw;
	padding-top: 4vw;
}

.list_profile .introduction p{
	display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 0;
}

.list_detail {
	
}

.list_detail h4 {
	margin: 0;
	background: #eeeff0;
	padding: 0 4vw;
	font-size: 12px;
	line-height: 24px;
	font-weight: normal;
}







/*
.hot-song{

}
.hot-song .hot-logo{
	position: relative;
	padding-left: 5.3vw;
	height: 39vw;
	background: url('../picture/hot_music_bg_2x.jpg') no-repeat;
	background-size: contain;
}
.hot-song .hot-logo::before{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	content: '';
	background-color: rgba(0,0,0,.2);
}

.hot-song .hot-icon{
	width: 43vw;
	height: 20vw;
	position: relative;
	top: 4vw;
	overflow: hidden;
}

.hot-song .hot-icon img{
	width: 44.3vw;	
	position: relative;
	top: -7vw;
	left: -5vw;
}
.hot-song .updateTime{
	color: #fff;
	padding-top: 5vw;
	position: relative;
}

.hot-cont li>a{
	padding: 0 2.67vw;
	margin: 2vw 0;
	text-decoration: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.hot-cont li>a span{
	font-size: 4.5vw;
	color: #ccc;
}
.hot-cont li>a .detail{
	position: relative;
	padding-left: 7vw;
	flex: 1;
	/*解决父元素宽度会被子元素撑开的问题*/
	width: 0;
	/*overflow: hidden;*//*两种方法都可以*/
}
.hot-cont li>a .detail > *{
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	overflow: hidden;
}
.hot-cont li>a .detail h2{
	font-size: 4.53vw;
	line-height: 6.8vw;
	color: rgb(51,51,51);
	font-weight: normal;
}
.hot-cont li>a .detail p{
	font-size: 2vw;
	color: #aaa;
	padding-bottom: 2vw;
}
.hot-cont li>a .detail::after{
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	border-bottom: 1px solid rgba(0,0,0,.1);
}
.hot-cont li>a svg{
	width: 5.87vw;
	height: 5.87vw;
	fill: #aaa;
}
*/